*{
    background: rgba(175, 171, 171, 0.5);
    font-family: 'poppins',sans-serif;
}

body{
    background: transparent;
}

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    min-height: 80vh;
    width: 99vw;
    height: 97vh;
}

.inner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* padding: 1rem; */
    padding: 6px 3rem;
    border: 1px solid transparent;
    border-radius: 8px;
}

.inner-section h2,
h2{
    text-align: center;
    color: rgb(23, 90, 23);
    background: transparent;
}

.inner-section form{
    width: 100%;
    background: transparent;
    margin: 1rem 2rem;
    padding-right: -1rem;
}

.inner-section h2,
form label,
form input,
form .credentials,
form a,
a{
    background: transparent;
}

form label{
    font-size: large;
}

p.error{
    background: transparent;
    color: red;
}

form input[type = "text"],
form input[type = "password"],
form input[type = "number"]{
    width: 100%;
    border: 2px solid rgba(175, 171, 171, 0.5);
    outline: none;
    padding: 8px 0;
    border-radius: 8px;
    font-size: 1rem;
}

form input[type = "submit"]{
    width: 100%;
    margin: 1.2rem 0;
    padding: 9px 2rem;
    background: linear-gradient(rgb(23, 90, 23), rgb(26, 145, 26));
    color: white;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}


form .credentials{
    display: flex;
    justify-content: space-between;
}


form .credentials .credential1{
    background: transparent;
}

/* Start the Admin dashboard design */
.side-bar{
    background: rgb(219, 218, 218);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right-width: 2rem;
    border-color: black;
    padding-top: 4rem;
}

.side-bar h6{
    background: transparent;
    font-size: 1.5em;
    top: 0;
    background: linear-gradient(to left, rgb(23, 90, 23), rgb(1, 32, 1)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -3rem;
    cursor: pointer;   
}


.side-bar a{
    text-decoration: none;
    color: rgb(29, 28, 28);
    margin: 1rem 0;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

.side-bar a.logout{
    margin-top: 12rem;
}

.side-bar a:hover{
    color: rgb(23, 90, 23);
}

.side-bar a:active,
.side-bar a.active{
    color: rgb(23, 90, 23);
}

.admin-section{
    width: 65%;
    margin-left: 24rem;
    background-color: transparent;
}

.admin-section h2{
    background-color: transparent;
}

.admin-section form{
    background-color: transparent;
}

p.msg{
    background: transparent;
    text-align: center;
    color: red;
}

.admin-section form input{
    width: 55%;
    margin-left: 8px;
    outline: 1px solid rgb(23, 90, 23);
}

/* .admin-section form input:active{
    outline: 2px solid rgb(23, 90, 23);
} */


.admin-section .add{
    display: flex;
    justify-content: end;
    background-color: transparent;
}

.admin-section .admin-submit{
    width: 25%;
}


/* main.table{
    width: 82vw;
    height: 60vh;
    background: #fff5;
    margin: .5rem 7rem;
}
 
.table__header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}

.table__header h4{
    margin-left: 4rem;
    background: var(--bg2-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

tbody{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    transition: all 0.3s ease;
}

tbody::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

tbody::-webkit-scrollbar-thumb{
    border-radius: 2rem;
    background: rgba(61, 61, 61, 0.333);
    background: var(--focus-color);
    transition: all 0.3s ease;
    visibility: hidden;
}

tbody:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table{
    width: 100%;
}


table, td, th{
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
}

thead{
    position: sticky;
    top: 0;
    left: 0;
    background: #d5d1defe;
    cursor: pointer;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
}

table tbody tr td .icon{
    font-size: 1.12rem;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid rgb(190, 189, 189);
    transition: all 0.3s ease;
    cursor: pointer;
}

table tbody tr td .icon:hover{
    background: red;
    color: #fff;
} */

main.table{
    width: 100%;
    height: 60vh;
    background: #fff5;
    /* background: transparent; */
    margin: .5rem 7rem;
    margin-left: 2rem;
    border-radius: 0.7em;
}


.table__header{
    background: transparent;
}


.table__body{
    background: transparent;
}
 
main table{
    background-color: white;
    width: 100%;
}


table, td, th{
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
    background-color: transparent;
}

thead{
    /* position: sticky; */
    /* top: 0; */
    left: 0;
    /* background: #e6e5e7fe; */
    background: transparent;
    cursor: pointer;
}

tbody{
    background: transparent;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
    /* background-color: transparent; */
}

.actions{
    display: flex;
    gap: 1em;
}

h4{
    background: transparent;
}

.actions a{
    text-decoration: none;
    color: white;
    padding: 0.4em;
    border-radius: 0.3em;
}

.actions a:nth-child(1){
    background: rgb(4, 110, 4);
}

.actions a:nth-child(2){
    background: rgb(187, 7, 7);
}